<html>

<head>
    {{define "footer"}}
    <footer>
        <p>
            Copyright 2020 Templates inc.
        </p>
        <p>
            Contact information: <a href="mailto:someone@gsnail.com">someone@gsnail.com</a>.
        </p>
    </footer>
    {{end}}
    <style>
        .feature {
          border: 1px solid #eee;
          padding: 10px;
          margin: 5px;
          width: 45%;
          display: inline-block;
        }
        .disabled {
          color: #ccc;
        }
      </style>
</head>

<body>
    {{if hasPermission .User "feature-a"}}
        <div class="feature">
            <h3>Feature A</h3>
            <p>Some other stuff here...</p>
        </div>
    {{else}}
        <div class="feature">
            <h3>Feature A</h3>
            <p>To enable Feature A please update your plan</p>
        </div>
    {{end}}

    {{if hasPermission .User "feature-b"}}
        <div class="feature">
            <h3>Feature B</h3>
            <p>Some other stuff here...</p>
        </div>
    {{else}}
        <div class="feature">
            <h3>Feature B</h3>
            <p>To enable Feature B please update your plan</p>
        </div>
    {{end}}

    {{template "footer"}}
</body>